#!/bin/bash
if [ $# -ne 0 ]
then
  echo "Programa que ayuda a la compilación de un nuevo kernel en Gentoo"
  echo "Se debe copiar el .config en el nuevo directorio y hacer # make oldconfig"
  echo "Después se debe ejecutar: # compile.kernel"
  echo "Si la particion boot no es la sda1 y la luks la sda4, debes cambiar este script"
fi

START=$(date +%s)
PROCS=`cat /proc/cpuinfo | grep processor |wc -l`
MAKEOPTS="-j$PROCS"
echo "Generando myinit.gz"
mykernel.initramfs -e /dev/nvme0n1p2
echo "Compilando con $PROCS procesadores"
cd /usr/src/linux
make $MAKEOPTS
make modules_install
make install
emerge @module-rebuild --keep-going

grub-install --efi-directory=/boot --target=x86_64-efi  /dev/nvme01n1
grub-mkconfig -o /boot/grub/grub.cfg

END=$(date +%s)
diff=$(( $END - $START ))
echo "La compilación con $PROCS procesadores duró $(($diff / 60)) minutos y $(($diff % 60)) segundos."

